<div class="modal fade" id="<%= "edit-task#{task.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for task do |f| %>
          <%= f.input :title %>
          <%= f.input :max_mark %>
          <%= f.button :submit, class: "btn-markbook" %>
        <% end %>
        <br>
        <%= link_to "Delete Task", task_path(task), method: :delete, remote: true, class: "btn-markbook", id: "red" %>
      </div>
    </div>
  </div>
</div>
