<div class="markbook-container">
  <div class="pupils-column">
    <% @teaching_set.set_pupils.sort_by { |set_pupil| set_pupil.pupil.last_name }.each do |set_pupil| %>
      <p id="markbook-pupil"><%= set_pupil.pupil.first_name %> <%= set_pupil.pupil.last_name %></p>
    <% end %>
  </div>
  <div class="marks-index">
    <% @result_hash.each do |task, marks| %>
      <%= render "tasks/edit-modal", task: task %>
      <div class="markbook-column">
        <h5><strong>
          <%= task.title %> /<%= task.max_mark %> <a class="btn-pencil" type="button" data-toggle="modal" data-target="<%= "#edit-task#{task.id}" %>" >
            <i class="fas fa-pencil-alt"></i>
          </a>
          </strong>
        </h5>
        <p id="date"><%= task.created_at.strftime('%d.%m.%y') %></p>
        <% marks.each do |mark| %>
          <%= simple_form_for mark, html: {class: "form-inline mark-area"} do |f| %>
            <%= f.input :raw_mark, label: false %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="new-task-form text-center">
    <%= simple_form_for [@teaching_set, @task], html: {class: "form-inline mark-area"} do |f| %>
      <%= f.input :title, label: false, placeholder: "new task title" %>
      <%= f.input :max_mark, label: false, placeholder: "max mark" %>
      <%= f.button :submit, class: "btn-markbook" %>
    <% end %>
  </div>
</div>

