<div class="modal fade" id="<%= "view-report-#{report.report_cycle.id}-#{report.set_pupil.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content report-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% pupil = report.set_pupil.decorate %>
        <h3><%= "#{report.set_pupil.pupil.first_name} #{report.set_pupil.pupil.last_name}" %></h3>
        <div class="report-behaviour bottom-border">
          <% if pupil.average_score(report.report_cycle) == 0 %>
            <div class="mark-box blue-mb">
              <div class="report-card-circle">
                <%= image_tag "#{report.set_pupil.pupil.photo}", class: "avatar", id: "report-card-pic" %>
              </div>
              <div class="average-score text-center">
                <p><%= pupil.average_score(report.report_cycle) %></p>
              </div>
              <div class="mark-box-banner" id="blue-mb-banner">
                <p id="small-font">AVERAGE BEHAVIOUR</p>
              </div>
            </div>
          <% elsif pupil.average_score(report.report_cycle) > 0 %>
            <div class="mark-box green-mb">
              <div class="report-card-circle">
                <%= image_tag "#{report.set_pupil.pupil.photo}", class: "avatar", id: "report-card-pic" %>
              </div>
              <div class="average-score text-center">
                <p><%= pupil.average_score(report.report_cycle) %></p>
              </div>
              <div class="mark-box-banner" id="green-mb-banner">
                <p id="small-font">AVERAGE BEHAVIOUR</p>
              </div>
            </div>
          <% else %>
            <div class="mark-box red-mb">
              <div class="report-card-circle">
                <%= image_tag "#{report.set_pupil.pupil.photo}", class: "avatar", id: "report-card-pic" %>
              </div>
              <div class="average-score text-center">
                <p><%= pupil.average_score(report.report_cycle) %></p>
              </div>
              <div class="mark-box-banner" id="red-mb-banner">
                <p id="small-font">AVERAGE BEHAVIOUR</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="report-marks bottom-border">
          <% if pupil.get_valid_marks(report.report_cycle).length < 1 %>
            <p>No marks recorded</p>
          <% else %>
            <div class="mark-box red-mb">
              <div class="report-card-circle">
                <div class="icon-circle" id="thumbs-down">
                  <i class="fas fa-thumbs-down"></i>
                </div>
              </div>
              <div class="stats text-center">
                <% stats = pupil.bottom_mark(report.report_cycle) %>
                <p><%= stats[:task] %></p>
                <p><%= "#{stats[:percentage]}% (#{stats[:raw]})" %></p>
              </div>
              <div class="mark-box-banner" id="red-mb-banner">
                <p>BOTTOM MARK</p>
              </div>
            </div>
            <div class="mark-box blue-mb">
              <div class="report-card-circle">
                <div class="icon-circle" id="behaviour">
                  <i class="fas fa-chart-line"></i>
                </div>
              </div>
              <div class="average-mark text-center">
                <p><%= pupil.average_mark(report.report_cycle) %>%</p>
              </div>
              <div class="mark-box-banner" id="blue-mb-banner">
                <p>AVERAGE MARK</p>
              </div>
            </div>
            <div class="mark-box green-mb">
              <div class="report-card-circle">
                <div class="icon-circle" id="thumbs-up">
                  <i class="fas fa-thumbs-up"></i>
                </div>
              </div>
              <div class="stats text-center">
                <% stats = pupil.top_mark(report.report_cycle) %>
                <p><%= stats[:task] %></p>
                <p><%= "#{stats[:percentage]}% (#{stats[:raw]})" %></p>
              </div>
              <div class="mark-box-banner" id="green-mb-banner">
                <p>TOP MARK</p>
              </div>
            </div>
          <% end %>
        </div>
          <% if pupil.behaviour_comments(report.report_cycle).length > 0 %>
          <div class="comments">
            <p><strong>Lesson comments:</strong><br>
              <% pupil.behaviour_comments(report.report_cycle).each do |score| %>
                <%= "#{score.comment} - " %><%= link_to "(#{score.lesson.start_time.strftime('%a, %e %b')})", teaching_set_lesson_path(score.lesson.teaching_set.id, score.lesson.id) %> <br>
              <% end %>
            </p>
          </div>
          <% end %>
          <% if pupil.academic_comments(report.report_cycle).length > 0 %>
          <div class="comments">
            <p><strong>Markbook comments:</strong><br>
              <% pupil.academic_comments(report.report_cycle).each do |mark| %>
                <%= "#{mark.task.title} (#{mark.percentage}%): #{mark.comment}" %><br>
              <% end %>
            </p>
          </div>
          <% end %>
        <%= simple_form_for report do |f| %>
          <%= f.input :content, label: false, placeholder: "Report for #{report.set_pupil.pupil.first_name} #{report.set_pupil.pupil.last_name} (#{report.report_cycle.name})" %>
          <%= f.button :submit, class: "btn-markbook inverse" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
