<div class="container">
  <div class="row">
    <% @set_pupils.each do |set_pupil| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="pupil-card text-center">
          <h4><%= "#{set_pupil.pupil.first_name} #{set_pupil.pupil.last_name}" %></h4>
          <div id="avatar-report">
            <%= image_tag "avatar.png", class: "avatar" %>
          </div>
          <div class="report-cycles-container">
            <% set_pupil.report_cycles.each do |report_cycle| %>
              <%= render partial: "report_cycles/report-modal", locals: { report: report_cycle.reports.find_by(set_pupil: set_pupil) } %>
              <a type="button" data-toggle="modal" data-target="<%= "#view-report-#{report_cycle.id}-#{set_pupil.id}" %>"><p><%= report_cycle.name %></p></a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
