<div class="container">
  <div class="row">
    <% @lesson.scores.sort_by {|score| score.set_pupil.pupil.last_name }.each do |score| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="pupil-card text-center">
        <h4><%= score.set_pupil.pupil.first_name %> <%= score.set_pupil.pupil.last_name %></h4>
        <div id="avatarbuttons">

          <%= simple_form_for score do |f| %>
            <input name="score[increment]", type="hidden", value="<%= "#{score.value + 1}" %>">
            <%= button_tag type: "submit", class: "btn btn-card" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          <% end %>

          <%= image_tag "avatar.png", class: "avatar" %>

          <%= simple_form_for score do |f| %>
            <input name="score[decrement]", type="hidden", value="<%= "#{score.value - 1}" %>">
            <%= button_tag type: "submit", class: "btn btn-card" do %>
              <i class="fas fa-minus"></i>
            <% end %>
          <% end %>

        </div>
        <div id="score-container">
          <p id="score"><%= score.value %></p>
        </div>
        <div id="comment-container">
          <%= simple_form_for score do |f| %>
            <%= f.input :comment, label: false, class: "form-control", placeholder: "Optional comment" %>
            <%= f.button :submit, value: "Save Comment", class: "btn-markbook" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

